* {
  margin: 0;
  padding: 0;
}

body{
    width: 960px;
    font-family: Arial, Verdana, sans-serif;
    padding-top: 15px;
}

.texte {
    font-size: 14px;
    color: #000;
}

/* Header */
main, header h1, .logo{
    padding-left: 50px;
}

header h1 {
    color: #aa3322;
    font-size: 20px;
    margin-bottom: 5px;
}

header ul {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #aa3322;
    font-size: 12px;
    list-style: none;
}

header ul li {
    padding: 5px 0 5px 50px;
    border-bottom: 1px dashed #cccccc;
}

header ul li a {    
    color: #cccccc;
    text-decoration: none;
}

header ul li a:hover {
    color: white;
}

/* Main */

h2{
    margin-top: 60px;
    margin-bottom: 20px;
}

p a{
    color: #aa3322;
    text-decoration: none;
}

figure img, figcaption {
    padding: 0 0 20px 0;
}



/* Footer */

footer{
    width: 960px;
    height: 75px;
    margin-top: 80px;
    background-color: #aaaaaa;
}

footer p{
    color: #721717;
    text-align: center;
    line-height: 75px;
}

p a, footer p{
    font-size: 14px;
}